 body{
     background-color: #f1faee;

 }
 h1, h2{
     color: #1d3557;
 }

 button{
     background-color: #a8dadc;

}
 #sign{
     background-color: #1d3557;
     color: #f1faee;
 }

 span{
     color: #457b9d;
 }
 .tag{
     background-color: #e63946;
     color: #f1faee;
     font-size: 16px;

 }
.post a{
    color: #457b9d;
    text-decoration: none;
    font-weight: 700;
}
footer a{
    color: #e63946;

}
button:hover {
    background-color:#e63946;
    color: #f1faee
}
.post a:hover{
    text-decoration: underline;
}