*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;

}
body{
    
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
}

/* utility classes */
.container {
    max-width: 1100px;
    margin: auto;
}

.text-primary{
    color: #1d3557;
}
.texttext{
    color: #3c6e71;
}
.light{
    background: #f4f4f4;
    color: #333;
}

.dark{
    background: #333;
    color: #f4f4f4;
}
/* navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    background: #deedf5;
    color: #f5f7f8;
    padding: 1.5rem 6rem;
    position: sticky;
    top: 0;
    z-index: 1;
    /* border-bottom: 3px solid rgba(0, 0, 0, 0.247); */
    
}
#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
/* chamberlain */
#navbar h2 a{
    color: #3c6e71;
    text-decoration: none;
}

#navbar li a{
    text-decoration: none;
    color: #2b2d42;
    padding: 1rem;
    font-size: 1rem;
    margin: 0 0.5rem;
    border-radius: 5px;
     transition: background-color 0.289s;
}

#navbar li a:hover{
    background-color: #555b6e;
    color: #fff;
}
/* showcase area */

 #showcase {
    /* background-color: rgb(253, 251, 123); */
  background: url("https://thewebconsultancy.co.uk/wp-content/uploads/2019/08/website-design-background-1.jpg") no-repeat center center/cover;
height: 91.7vh;
} 

 .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 84px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #555b6e85;
    height: 91.7vh;
    color: #0095c7ad;

} 

.showcase-content h1{
    font-size: 7rem;
    /* font-family: 'Dm Sans'; */
    font-family: 'Amatic SC', cursive;
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'Great Vibes', cursive; */
    /* margin-bottom: rem; */
    margin-top: 5rem;
    line-height: 0.8;
    margin-bottom: 3rem;
}

.showcase-content .btn{
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: background-color 0.3s;
    /* background: #555b6e; */
}
.succeed{
    color: #90e0ef;
    font-size: 4rem;
    margin-bottom: 3rem;
}

.showcase-content .btn:hover{
    background: #ade8f4;
    color: #3c6e71;
}

.btn{
    color: #ade8f4;
    text-decoration: none;
    display: inline-block;
    padding: 2rem 3rem;
    border: 1px solid #ade8f4;
    border-radius: 15px;
    font-weight: bold;
}
/* section about */
#about {
    padding: 3.5rem 0;
}
#about h2, #services h2{
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 2rem;
}
#about h3{
    font-size: 1.8rem;
}
/* paragraph */
#about p.lead{
    margin-top: 2rem;
    font-size: 15px;
}
#about .about-content{
    display: flex;
}
#about .about-text,
#about .about-image{
    /* flex: 1; */
    /* margin: 5px; */

}
#about .about-text{
    text-align: justify;
    margin-top: 53px;
    width: 90%;
}
#about .about-image img{
    display: block;
    margin: auto;
    margin-left: 55px;
    width: 78%;
    height: 90%;
    border-radius:5%;
    margin-top: 32px;

}
/* section services */
#services{
    padding:4rem 0;
}
#services h3{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}
#services .doxes{
    display: flex;
}
.feature{
    margin-bottom: 0.42rem;
}
#services .dox{
    background: #fff;
    flex: 1;
    align-items: center;
    padding: 2.6rem;
    margin: 0.9rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;

}
#services .dox i{
    color: #3c6e71;
    
}
/* contact */
#contact{
    padding: 4rem 0;
}
#contact h2{
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 4rem;
}
#contact h3{
    text-align: center;
    font-size: 2.5rem;
    margin: 2.8rem 0;
    margin-top: 3rem;
}
#contact .formdox{
    background: #fff;
    padding: 2.6rem;
    box-shadow: 2px 2px 5px #d1d1d1;
    border-radius: 10px;
}
#contact .formgroup{
    margin-bottom: 1.6rem;
}
#contact .formgroup label{
    display: block;
    margin-bottom: 0.5rem;
    width: 60%;
    margin-left: 10%;
    font-size: 1.1rem;
}
#contact .formgroup input,
#contact .formgroup textarea{
    width: 80%;
    margin-left: 10%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 0.5px solid #333;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;;
}
#contact .formgroup textarea{
    font-family: 'Montserrat', sans-serif; 
}

#contact .contact-btn{
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    background: #ade8f4;
    color: #3c6e71;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;
} 
#contact .contact-btn:hover{
    background: #7ad4e6;

}
#contact .form-container{
    position: relative;
}
#contact .mail-icon{
    font-size: 2.6rem;
    background: #2b2d42;
    color: #fff;
    display: inline-block;
    padding: 1.5rem 2rem;
    border-radius: 50%;
    position: absolute;
    top: 297%;
    left: 45%;
}

/* footer */
footer{
    padding: 2.1rem;
}
footer p{
    text-align: center;
}



